main {
  // Heading styling
  h1 {
    @apply text-5xl font-bold mb-4;
    position: relative;
    display: inline-block;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 6px;
      width: 105%;
      height: 16px;
      @apply bg-teal-600;
      transform: translateY(50%); 
      z-index: -1;
    }
  }

  h2 {
    @apply text-4xl font-bold mb-2;
  }

  h3 {
    @apply text-2xl font-bold mb-0;
  }

  p {
    @apply mb-6;
  }

  // Table styling
  table {
    @apply table-auto border-collapse;
    display: block;
    overflow-x: auto;
    width: 100%;
  }

  table th,
  table td {
    @apply border p-2;
  }

  table th {
    @apply bg-sky-700 text-white;
  }

  table td {
    @apply bg-sky-800 text-white;
  }

  // Link styling
  a {
    @apply text-teal-400 underline hover:text-teal-500;
  }

  // List styling
  ul {
    @apply list-disc ml-6;
  }

  ol {
    @apply list-decimal ml-6;
  }

  // Blockquote styling
  blockquote {
    @apply my-12 italic text-4xl text-center sm:text-left font-thin;
  }
}
