@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import custom mixins */
@import "./mixins.scss";

/* Import custom hamburgers CSS */
@import "./hamburgers-custom.scss";

/* Import custom contentful rich text CSS */
@import "./contentful-rich-text.scss";

/* Define reusable class */
.underlined-header {
  @include underlined-header;
}

body {
  background-image: url('/background.jpeg');
  background-size: cover;
  background-position: 25%;
  background-blend-mode: overlay;
  background-attachment: fixed;
  z-index: 1
}